<!DOCTYPE html><html>
<head>
<title>::tmp.grp_desc::</title>
<link rel="stylesheet" href="fossil.css" type="text/css"
      media="screen">
</head>
<body>
<div class="header">
  <div class="logo">
    <img src="fossil-logo.png" alt="logo">
  </div>
  <div class="title">::tmp.grp_desc::</div>
</div>
<div class="mainmenu">
<p>
</div>
<div id="container">
<div class="content">

<p>

<table border="0" cellspacing="10em" cellpadding="5em">
::tmp.prj_list::
</table>

</div>
</div>
<div class="footer">
::tmp.grp_webfooter::
</div>
</body></html>

